/* GLOBAL RULES */
header {
  margin: 10px;
}

body {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: Shrikhand, cursive;
  margin: auto;
}

.fatText {
  font-weight: bold;
}

.cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: whitesmoke;
  padding-bottom: 40px;
}

/* ARROW */
.arrow {
  position: absolute;
  top: 25px;
  left: 30px;
  color: #000;
}

/* introduction */
.introduction {
  background-color: whitesmoke;
  position: relative;
}

.picture {
  width: 100%;
  position: relative;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  font-family: Shrikhand, cursive;
  margin: 20px;
}

.nameRestaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 30px 30px 0 0;
  position: absolute;
  bottom: 0;
}

/* Setteing heart */
.like {
  font-size: 25px;
  position: relative;
  cursor: pointer;
}

.like:hover > .heartIconLike {
  color: #9356DC;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.heartIconLike {
  position: absolute;
  opacity: 0;
}

/* Setting div starter dish */
.titleStaterDish {
  width: 90%;
  margin: 0;
}

.starterDish {
  margin: 0px 15px -30px 15px;
  background-color: whitesmoke;
  position: relative;
}

.underlineTitle {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 4px;
}

.btnStarterDish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 10px 0 gainsboro;
          box-shadow: 0px 4px 10px 0 gainsboro;
  border-radius: 15px;
  margin-top: 20px;
  cursor: pointer;
}

.btnStarterDish:hover .box {
  width: 70px;
}

/* BUTTON */
.sizeTextMenu {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 20px 0 0 10px;
}

.ingredient {
  font-weight: normal;
}

.price {
  font-weight: bold;
  position: relative;
  padding: 24px 15px 0 15px;
}

.box {
  background: #99E2D0;
  text-align: center;
  overflow: hidden;
  width: 0;
  -webkit-transition: width 1s;
  transition: width 1s;
  padding-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 15px 15px 0;
}

.checkMenu {
  color: #c2ceca;
  position: relative;
  background-color: #6b2222;
  display: inline-block;
  font-size: 25px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  margin: auto;
}

/*  ANIMATION - BUTTON DISH  */
.up {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.down1 {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.down2 {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.down3 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.down4 {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadein {
  from {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=menu.css.map */