/* GLOBAL RULES */

header {
    margin: auto;
}
body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    
}

$color-principal:#9356DC;
$color-seconday:#FF79DA;
$color-tertiary:#99E2D0;


h1 {
    font-family: Shrikhand, cursive;
    margin: auto;
}


.fatText {
    font-weight: bold;
}
.cardContainer {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding-bottom: 60px;
}

/* ARROW */

.arrow {
    position: absolute;
    top: 15px;
    left: 30px;
    color: #000;
}


/* introduction */


.introduction {
    background-color: whitesmoke;
    position: relative;
}
.picture {
    width: 100%;
    position: relative;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    font-family: Shrikhand, cursive;
    margin: 20px;
}
.nameRestaurant {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 30px 30px 0 0;
    position: absolute;
    bottom: 0;
    }

/* Setteing heart */

  .like {
    font-size: 25px;
    position: relative;
    cursor: pointer;

    &:hover > .heartIconLike{
    color:linear-gradient(150deg, #9356DC, #FF79DA);
    opacity: 1;
    transition: 1s;
    } 
}

.heartIconLike {
   position: absolute;
   opacity: 0;
    
}

/* Setting div starter dish */


.titleStaterDish {
    width: 90%;
    margin: 0;
}

.starterDish {
    margin: 0px 15px 30px 15px;
    background-color: whitesmoke;
    position: relative;
 
}

.underlineTitle {
    border-bottom: 3px solid #99E2D0;
    padding-bottom: 4px;
}
.btnStarterDish {
    display: flex;
	justify-content: space-between;
    height: 70px;
    background-color: #fff;
    box-shadow: 0px 4px 10px 0 gainsboro;
    border-radius: 15px;
    margin-top: 20px;
    cursor: pointer;
    

    &:hover .box {
        width: 70px;
    }
}



/* BUTTON */

.sizeTextMenu {
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    margin: 20px 0 0 10px;
    

}
.ingredient {

	font-weight: normal;

}
.price {
    font-weight: bold;
    position: relative;
    padding: 24px 15px 0 15px;
}

.box {
    background: $color-tertiary;
    text-align: center;
    overflow: hidden;
    width: 0;
    transition: width 1s;
    padding-top: 30px;
    align-items: center;
    border-radius: 0 15px 15px 0;
}

/* ANIMATION CHECK BUTTON */

.checkMenu {
    color: #fff;
    position: relative;
    background:$color-tertiary;
    display: inline-block;
    font-size: 20px;
	transform: rotate(360deg);
	transition: transform 500ms;
    margin: auto;

}
.btnStarterDish:hover .box {
	width: 70px;
}

.btnStarterDish:hover .box > .checkMenu {
	transform: rotate(0deg);
}


/*  ANIMATION - BUTTON DISH  */

.up {
	animation: fadein 1s;
}

.down1 {
	animation-delay: 50ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.down2 {
	animation-delay: 150ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.down3 {
	animation-delay: 300ms;
	animation-fill-mode: forwards;
	opacity:0;
}

.down4 {
	animation-delay: 450ms;
	animation-fill-mode: forwards;
	opacity:0;
}

@keyframes fadein {
    from {
		transform: translateY(20px);
        opacity:0;
    }
    to {
		transform: translateY(0);
        opacity:1;
    }
}


/*  ORDER BUTTON */

.btn {
    background: linear-gradient(to top left, #9356DC, #FF79DA);
    border: none;
    width: 150px;
    height: 40px;
    margin: 20px auto 30px;
    color: white;
    border-radius: 25px;
    border-top: 30px;
    box-shadow: 0 2px 3px 0 rgb(17, 10, 16);
    transition: color .3s;
    

    &:hover {
        background: rgb(222, 134, 241);
        color: white;
        border: none;
        box-shadow: 0 2px 3px 0 rgb(205, 95, 209);
          
   
}
}


/* footer */

footer {
    position: relative;
    padding: 20px;
    color: #ffffff;
    background-color: #2c2c2c;
    width: 100%;
}
.textFooter {
    font-size: 20px;
    color: #ffffff;
    font-family: Shrikhand;
}

.footerLink {
    padding-left: 0;
    list-style-type: none;
    line-height: 25px;
    cursor: default;
}
.iconFooter {
    margin-right: 20px;
}
.textDecoNone {
    text-decoration: none;
    color: #ffffff;
}


/* MEDIA QUERIE */


/* TABLET */
@media (min-width:768px) {

    .cardContainer {
        width: 800px;
        margin: auto;
      }
    
      header {
        box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
      }
}

/* DESKTOP */

@media (min-width:1080px) {

    .cardContainer {
        width: 800px;
        margin: auto;
      }
    
      header {
        box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
      }
}

